<!DOCTYPE html>
<h2 class="main_head">Flop Chooser</h2>

<div class="firstDiv p-25 mb-1 bg-info" >
  <h4>Which movie has Lower IMDB rating?</h4>
  <button (click)="playAgain()" [hidden]="!isPlayed" class="btn btn-primary">Play Again</button>
</div>

<app-text-show [isHidden]="isPlayed" [inputString]="showString"></app-text-show>

<div class="showImages">
  <app-image-show (clickImage)="imageClicked(0)" [index]="ind[0]" [flopList]="flopData" [isPlayed]="isPlayed"></app-image-show>
  <app-image-show (clickImage)="imageClicked(1)" [index]="ind[1]" [flopList]="flopData" [isPlayed]="isPlayed"></app-image-show>
</div>





